<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your issue#<%= @issue.id %> is resolved</h1>
    <p>
      Your issue with the following details has been resolved -
    </p>
    <p>Id: <%= @issue.id %>
    <p>Details: <%= @issue.details %>
  </body>
</html>
